/*
    COLORS:
    #02b3e4
    #2d3c49
    #7d97ad
*/

.text-uppercase {
    text-transform: uppercase;
}

body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-size: 10px; /*reset default font-size*/
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 10px;
}
.portfolio-header-info {
    text-align: right;
}
.portfolio-header-info h1{
    font-weight: 100;
    font-size: 5em;
    margin: 0;
}
.portfolio-header-info h4{
    font-size: 2em;
    margin: 0;
}
.header-divider {
    border-top: solid 5px #7d97ad;
}
h2 {
    color: #7d97ad;
}
